# Python virtual environments
.venv/
venv/
env/

# Python bytecode
__pycache__/
*.py[cod]

# Pydantic-generated models
app/models/generated_models

# Distribution / packaging
build/
dist/
*.egg-info

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
coverage.xml
.coverage